apiVersion: apps/v1
kind: Deployment
metadata:
name: employee-deployment
spec:
replicas: 2
selector:
matchLabels:
app: employee
template:
metadata:
labels:
app: employee
spec:
containers:
- name: employee
image: ${{ secrets.DOCKERHUB_USERNAME }}/employee-microservice:latest
ports:
- containerPort: 3000
env:
- name: MONGO_URI
value: "mongodb://mongo:27017/employee_db"
- name: PORT
value: "3000"